.card {

	&.card-dark {
		@extend .h-100, .w-100;
		@extend .px-0;
		@extend .position-relative;
		background: $dark-gray !important;

		.card-body {

			@extend .text-center;
			@extend .text-light;
			@extend .px-5;
			@extend .pt-4, .pb-5;

			a {
				text-decoration: none !important;
			}

			.date {
				@extend .text-primary;
				@extend .fw-bold;
				@extend .text-uppercase;
			}

			.excerpt {
				@extend .text-muted;
				// De Intrebat
				font-size: 0.75rem;
				transition:all 0.5s ease-in-out;
				p{
					@extend .mb-0;
				}
			}
		}
	}

	&.card-before-after{
		.card-body{
			transition:all 0.5s ease-in-out;
		}
		&:hover{
			.card-body{
				// transition:all 0.5s ease-in-out;
				color:$primary;
			}
		}
	}

	// ZoomIn Image on Hover
	&:hover{
		.card-image-wrapper{
			.card-image{
				transform:scale(1.2);
				transition:transform 0.5s ease-in-out;
			}
		}
		.card-body{
			.excerpt{
				color:$light!important;
				transition:all 0.5s ease-in-out;
			}
		}
	}

	.card-image-wrapper{
		@extend .position-relative;
		overflow:hidden;
		.card-image {
			transform:scale(1);
			overflow:hidden!important;
			padding: 9rem 0;
			background-size: cover;
			background-position: center center;
			transition:transform 0.5s ease-in-out;
		}
	}

	&.serviciu-card{
		@extend .h-100;
		@extend .bg-transparent;
		@extend .text-white;
		.serviciu-img{
			@extend .mx-auto;
			border-radius:100%;
			overflow:hidden;
			width:10rem;
			height:10rem;
			img{
				@extend .mb-2;
				object-fit:cover;
				width:100%;
				height:100%;
				transition:all 0.5s ease-in-out;
			}
		}
		h5{
			transition:all 0.5s ease-in-out;
		}
		.card-body{
			color:#fff!important;
		}

		&:hover{
			.card-body{
				h5{
					color:$primary!important;
				}
			}
			.serviciu-img{
				img{
					transform:scale(1.2);
				}
			}
		}
	}
}